.heading{
	font-size: 30px;
	font-weight: 600;
	color: whitesmoke;
	text-align: center;
	background-color: black;
	padding: 10px 0;
}

.practice {
	margin: 50px 0;
	font-size: 25px;
	color: black;
	text-align: center;
	background-color: yellow;
	padding: 10px;

}


button:focus {
	box-shadow: none !important;
}

input:focus {
	box-shadow: none !important;
}

.all_btn {
	padding: 15px 0;
}

button {
	margin: 0 20px;
}



#d_text {
	font-size: 30px;
	font-family: serif;
	font-weight: 600;
	padding: 50px 0 0;

}





.bulb {
	padding: 20px 0 20px;
}


